
.card{
// Basic card style with animation card flipping
    perspective: 150rem; // To give a perspective look while flipping
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;
    &__side{
        height: 52rem;
        color: white;
        transition: all .7s ease;
        position: absolute;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden; //To hide the visibility of backside of the card
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 3px;
        overflow: hidden; // To show border-radius even when child is overlappimg the paren (i.e .card__picture)
        box-shadow: 0 2rem 4rem rgba($color-black, .15);
        &--front{
            background-color: white;
        }   
        &--back{
            transform: rotateY(180deg);
            &-1{
                background-image: linear-gradient(to right bottom, $color-secondary-light-orange,  $color-secondary-dark-orange)
            }
            &-2{
                background-image: linear-gradient(to right bottom, $color-primary-light-green,  $color-primary-dark-green)
            }
            &-3{
                background-image: linear-gradient(to right bottom, $color-tertiary-light-blue,  $color-tertiary-dark-blue)
            }
        }

    }  
    &:hover &__side--front{
        transform: rotateY(-180deg);
    }
    &:hover &__side--back{
        transform: rotateY(0);
    }
    //front side card styling
    &__picture{
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); // To make it work in all browsers
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        &--1{
            background-image: linear-gradient(to right bottom, $color-secondary-light-orange,  $color-secondary-dark-orange),
            url("../img/nat-5.jpg");
        }
         &--2{
            background-image: linear-gradient(to right bottom, $color-primary-light-green,  $color-primary-dark-green),
            url("../img/nat-6.jpg");
        }
         &--3{
            background-image: linear-gradient(to right bottom, $color-tertiary-light-blue,  $color-tertiary-dark-blue),
            url("../img/nat-7.jpg");
        }
    }
    &__heading{
        font-size: 2.8rem;
        font-weight: 300;
        color: $color-white;
        text-transform: uppercase;
        position: absolute;
        top: 12rem;
        right: 3.5rem;
        text-align: right;
        width: 75%;
        
    }
    &__heading--span{
         padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        &--1{
            background-image: linear-gradient(to right bottom,
            rgba($color-secondary-light-orange, .85),
            rgba($color-secondary-dark-orange, .85));
        }
        &--2{
            background-image: linear-gradient(to right bottom,
            rgba($color-primary-light-green, .85),
            rgba($color-primary-dark-green, .85));
        }
        &--3{
            background-image: linear-gradient(to right bottom,
            rgba($color-tertiary-light-blue, .85),
            rgba($color-tertiary-dark-blue, .85));
        }
    }
    &__details{
        padding: 3rem;
        ul{
            list-style: none;
            width: 80%;
            margin: 0 auto;
            li{
                color: black;
                font-size: 1.5rem;
                padding: 1rem;
                text-align: center;
                &:not(:last-child){
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
    }
    //back side card styling
    &__cta{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        text-align: center;
    }
    &__price-box{
        text-align: center;
        margin-bottom: 8rem;
    }
    &__price-only{
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    &__price-value{
        font-size: 6rem;
        font-weight: 100;
    }
    @media only screen and (max-width: 56.25em),
           only screen and (hover:none) // Identify devices which cannot be hovered i.e touxh devices
        // To identify screens can be hovered use (hover: hover)
        {
        height: auto;
        border-radius: 3px;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .15);
    &__side{
        height: auto;
        color: white;
        transition: all .7s ease;
        position: relative;
        box-shadow: none;
         
        &--back{
            transform: rotateY(0);
            clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
        }

    }  
    &:hover &__side--front{
        transform: rotateY(0);
    }
    &__details{
        padding: 1rem 3rem;
    }
    //back side card styling
    &__cta{
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem;
    }
    &__price-box{
        margin-bottom: 3rem;
    }
    &__price-value{
        font-size: 4rem;
    }
    }

}






